{% extends 'admin/base.html' %}
{% block content %}
<form action="/admin/Navlinks" method="POST" enctype="multipart/form-data">
    {{navlinkForm.name(class_="form-control my-3", placeholder="Name")}}
    {{navlinkForm.url(class_="form-control my-3", placeholder="Url")}}
    {{navlinkForm.submit(class_="btn btn-primary my-3",value="Add nav")}}
</form>
    <table class="table table-active">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Url</th>
                
            </tr>
        </thead>
        <tbody>
            {% for n in nav %}
    
    
            <tr>
                <td>{{n.id}}</td>
                <td>{{n.name}}</td>
                <td>{{n.url}}</td>
                <td>
                    <a href="/admin/Navlinks/delete/{{n.id}}">Delete</a>
                    <a href="/admin/Navlinks/update/{{n.id}}">Update</a>
                </td>
            </tr>
    
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}