{% extends 'admin/base.html' %}
{% block content %}
<form action="/admin/Portfolio" method="POST" enctype="multipart/form-data">
    <select name="category" class="form-control">
        <option value="">Choose Category</option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>
    {{portfolioForm.name(class_='form-control my-3',placeholder="Name")}}
    {{portfolioForm.info(class_='form-control my-3',placeholder="Description")}}
    {{portfolioForm.img(class_='form-control my-3',placeholder="Image")}}
    {{portfolioForm.submit(class_='btn btn-primary',value="Add Portfolio Item")}}
   
    
</form>
<table class="table table-active">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        


        {% for portfolio in portfolios %}
             <tr>
                <th scope="row">{{portfolio.id}}</th>
                <td>{{portfolio.name}}</td>
                <td>
                    <img src="/static/assets/uploads/{{portfolio.img}}" class="img-thumbnail" style='width:100px; height:100px; object-fit:cover'alt="">
                </td>
                <td>
                    {{PortfolioCategory.query.filter_by(id=portfolio.category_id).first().name}}
                </td>
                <td>
                    <a href="/admin/Portfolio/edit/{{portfolio.id}}" class="btn btn-primary">Edit</a>
                    <a href="/admin/Portfolio/delete/{{portfolio.id}}" class="btn btn-danger">Delete</a>
                </td>
              </tr>
             {% endfor %}

        
    </tbody>
       
</table>

{% endblock  %}