{% extends 'admin/base.html' %} {% block content %}
<form action="/admin/Services" method="POST" enctype="multipart/form-data">
    {{servicesForm.img(class_="form-control my-3",placeholder='Service Img')}}
    {{servicesForm.name_link(class_="form-control my-3",placeholder='Name_link')}}
    {{servicesForm.about(class_="form-control my-3",placeholder='About')}} 
    {{servicesForm.submit(class_="btnbtn-primary my-3",value="Add Service")}}

</form>


<table class="table table-active">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Namelink</th>
            <th scope="col">about</th>
            <th scope="col">d/u</th>
        </tr>
    </thead>
    <tbody>
        {% for ser in ser %}


        <tr>
            <td>{{ser.id}}</td>
            <td>{{ser.ser_namelink}}</td>
            <td>{{ser.ser_about}}</td>
            <td>
                <a href="Services/delete/{{ser.id}}">Delete</a>
                <a href="Services/update/{{ser.id}}">Update</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>

</table>

{% endblock %}