{% extends 'admin/base.html' %} {% block content %}
<form action="/admin/testimonials" method="POST" enctype="multipart/form-data">
    {{testimonialForm.name(class_="form-control my-3", placeholder="Name")}}
    {{testimonialForm.work(class_="form-control my-3", placeholder="Work")}}
    {{testimonialForm.text(class_="form-control my-3", placeholder="Text")}}
    {{testimonialForm.img(class_="form-control my-3", placeholder="Image")}}
    {{testimonialForm.submit(class_="btn btn-primary my-3",value="Add testimonial")}}

</form>
<table class="table table-active">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Work</th>
            <th scope="col">Text</th>
            <th scope="col">d/u</th>
        </tr>
    </thead>
    <tbody>
        {% for test in test %}


        <tr>
            <td>{{test.id}}</td>
            <td>{{test.name}}</td>
            <td>{{test.work}}</td>
            <td>{{test.text}}</td>
            <td>
                <a href="/admin/testimonials/delete/{{test.id}}">Delete</a>
                <a href="/admin/testimonials/update/{{test.id}}">Update</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}